<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
    <hr>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix"
        *ngFor="let Tst of test">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{Tst.name}}</h4>
                <p class="list-group-item-text">{{Tst.description}}</p>
                
            </div>
            <span class="pull-right">
                <img [src]=Tst.imagPath alt="{{Tst.name}}" class="image-responsive" style="max-height:50px;">
            </span>
        </a>
    </div>
</div>
